/* disquos */
/* #disqus_thread {
  
  padding: 50px 30px;
} */
#disqus_thread {
  padding: 12px 10px 0;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 1000px;
}
@media screen and (min-width: 673px) {
  #disqus_thread {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 1040px) {
  #disqus_thread {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1110px) {
  #disqus_thread {
    padding-left: 30px;
    padding-right: 30px;
  }
}
