.button_detail:hover {
  background-color: tomato;
}
.hover-modal {
  z-index: 1;
}
.booth .hover-modal {
  position: absolute;
  width: 500px;
  height: auto;
  margin-left: -100px;
  background-color: rgba(36, 36, 36, 1);
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.hover-modal__content {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  color: white;
}

.hover-modal__content__title {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.hover-modal__imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.hover-modal__img {
  width: 150px;
  height: 150px;
  margin: 5px;
}

.hover-modal__content__explain p {
  font-size: 17px;
}
