.menu-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: steelblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0px 20px;
  font-size: 20px;
  color: whitesmoke;
}

.menu-bar .title {
  padding: 20px;
  font-weight: bold;
}

.menu-bar .title a {
  color: whitesmoke;
  text-decoration: none;
}

.menu-bar .menus {
  font-size: 18px;
  display: flex;
  justify-content: center;
}

.menu-bar .menus a {
  box-sizing: border-box;
  padding: 20px;
  margin-right: 20px;
  color: whitesmoke;
  text-decoration: none;
}
.menu-bar .menus a:hover {
  border-radius: 5px;
  background-color: navy;
}

.others a {
  color: whitesmoke;
  text-decoration: none;
}

.others a:active {
  color: green;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  color: whitesmoke;
}

@media screen and (max-width: 750px) {
  .menu-bar {
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }
  .menu-bar .title {
    padding: 20px;
  }
  .menus {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .menu-bar .menus a {
    margin-right: 0;
    width: 100%;
    text-align: center;
  }
  .others {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .others a {
    padding: 20px;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .menus.active,
  .others a.active {
    display: none;
  }
}
