.name-box {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.name-tag {
  position: absolute;
  width: 680px;
  height: 792px;
  margin: 0 auto;
  padding-bottom: 10px;
  border: 2px solid black;
  margin-top: 0px;
}

.name-tag__title img {
  margin-left: 5px;
  width: 160px;
  height: 160px;
}

.name-tag__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #fdd835;
  height: 180px;
  border-bottom: 2px solid black;
}

.name-tag__inf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
  font-size: 45px;
  font-weight: 800;
  color: rgb(255, 255, 255);
}

.name-tag__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-tag__body__uni {
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 30px;
  letter-spacing: 11px;
}
.name-tag__body__name {
  margin-top: 200px;
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 50px;
  letter-spacing: 15px;
  font-weight: 600;
}
.name-tag__body__visit {
  margin-top: 50px;
  font-size: 50px;
  font-weight: 600;
  padding: 20px 170px 10px 170px;
  border-top: 4px solid black;
}

.icon_x {
  font-size: 45px;
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 100px;
}
a {
  text-decoration-line: none;
}
