@import "./main.css";
@import "./root.css";
@import "./name-tag.css";
@import "./modal-detail.css";
@import "./login.css";
@import "./menu.css";
@import "./hover-modal.css";
@import "./introduce/developer.css";
@import "./index.css";
@import "./guest-book.css";
@import "./guest-book.css";

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
